form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  padding: 1rem;
  margin: 2rem;
  font-size: 15px;
}

img {
  display: block;
  width: 450px;
  margin: auto;
}

label {
  font-size: 20px;

}
legend {
  font-size: 30px;
}